<%- include('header'); -%>

  <body>
    <div class="container mt-4">
      <div class="alert alert-dismissible alert-secondary">
        <a href="/">
          <button type="submit" class="btn-close" data-bs-dismiss="alert"></button>
        </a>
        <form action="/update" method="post">
          <div class="form-group">
            <label class="col-form-label mt-1" for="inputDefault">Choose Date</label>
            <input name="dateCreated" type="date" required class="form-control" value="" placeholder="Default input"
              id="inputDefault" />
          </div>

          <div class="row">
            <div class="col-8">
              <div class="form-group">
                <label class="col-form-label mt-1" for="inputDefault">Created by</label>
                <input required name="createdBy" type="text" value="" class="form-control" placeholder="Enter your Name"
                  id="inputDefault" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="exampleSelect1" class="form-label mt-4">Choose category</label>
                <select name="category" class="form-select" id="exampleSelect1" required>
                  <option disabled selected>Please Select Category</option>
                  <% for(let cat of categories){ %>
                    <option name="<%= cat %> " value="<%= cat %> ">
                      <%= cat %>
                    </option>
                    <% } %>
                </select>
              </div>
            </div>
            <div class="container mt-4">
              <div class="form-group">
                <label for="exampleTextarea" class="form-label mt-4">Write your Note</label>
                <textarea name="noteBody" class="form-control" id="exampleTextarea" required rows="3"></textarea>
              </div>
              <br />
              <button type="submit" class="btn btn-outline-primary">
                Save Note
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
  <%- include('footer') %>